* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://wallpaperplay.com/walls/full/b/0/6/64789.jpg")
    no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

.btn {
  border-color: rgb(105, 60, 2);
}
.shadow-lg {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9) !important;
}
.jumbotron {
  background: rgba(255, 255, 255, 0.75);
  margin-bottom: 0;
  padding-bottom: 5px;
  width: 100%;
}

p.intro {
  margin-bottom: 0;
}
.intro {
  font-size: 14px;
}

.card {
  border-color: rgb(15, 14, 1);
  background: rgba(11, 12, 31, 0.7);
}
input {
  background: grey;
  color: rgb(174, 248, 37);
}
.word {
  color: rgb(128, 78, 129);
}

.tracker {
  background: rgba(255, 255, 255, 0.8);
}
.modal-header {
  margin: auto;
}

.guessesremaining {
  color: rgb(203, 50, 206);
}

#gameContainer {
  display: block;
  visibility: hidden;
  padding-top: 5%;
}
