* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://wallpaperplay.com/walls/full/b/0/6/64789.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

.shadow-lg {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9) !important;
}
.jumbotron {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
  padding-bottom: 5px;
  width: 100%;
}

p.intro {
  margin-bottom: 0;
}
.intro {
  font-size: 14px;
}

.card {
  border-color: rgb(15, 14, 1);
}
input {
  background: grey;
  color: rgb(174, 248, 37);
}
.hiddenName {
  color: rgb(174, 248, 37);
}

.tracker {
  background: rgba(255, 255, 255, 0.3);
}
.modal-header {
  margin: auto;
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}
