* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

section {
	/* https://www.toptal.com/designers/subtlepatterns/?s=brick */
	background-image: url('../img/brickwall_@2X.png');
	background-position: center;
	overflow: auto;
}

nav {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
	background-color: #4aaaa5;
	border-color: #4aaaa5;
}
.navbar {
	border-bottom: 2px solid #cccccc;
}
a.navbar-brand {
	background-color: #4aaaa5;
	padding: 20px;
	margin: 0;
}
hr {
	border-top: 2px solid;
	border-color: #cccccc;
}

.card {
	font-family: Arial, Helvetica, sans-serif;
	border-color: #dddddd;
}
.card-title {
	font-size: 20px;
	color: #4aaaa5;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
}
.card-heading {
	background-color: #4aaaa5;
	font-size: 16px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	position: absolute;
	bottom: 5%;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fixed-bottom {
	border-top: 8px solid #4aaaa5;
	background-color: #666666;
	color: #ffffff;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	height: 60px;
	position: relative;
	bottom: 0;
	top: 0;
}
